<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.mapper.ImgMapper">
	
	<resultMap type="ImgModel" id="getImg">
		<result column="user_no" property="user.userNo" />
		<!-- 각 이미지의 유저정보 가져오기 (1:1) -->
		<association column="user_no" property="user" javaType="UserModel" select="com.example.demo.test.mapper.UserMapper.getUserInfo"></association>
	</resultMap>
	
	<!-- 이미지 리스트 가져오기 -->
	<select id="getImgList" resultMap="getImg">
		SELECT *
		FROM user_img
		order by user_no desc
	</select>
	
	<!-- imageList 가져오기 -->
	<select id="getImgInfoList" resultType="imgModel">
		SELECT *
		FROM user_img
		WHERE 1=1
		AND user_no = #{userNo}
	</select>
	
</mapper>