<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.mapper.TestMapper">


	<resultMap type="TestModel" id="list">
	<!--<result column="user_no" property="userNo"/>
		<result column="email" property="email"/>
		<result column="tel" property="tel"/> -->
		<result column="name" property="name"/>
		<collection column="name" property="imgList" select="getImg" javaType="java.util.List" ofType="imgModel" >
			<result column="img_no" property="imgNo" />
			<result column="name" property="name" />
			<result column="img_name" property="imgNmae"/>
		</collection>
	</resultMap>
	
	<!-- 리스트 가져오기 -->
	<select id="getList" resultMap="list">
		SELECT *
		FROM user
		WHERE 1=1
		order by user_no desc
	</select>
	
	<!-- JOIN으로 리스트 가져오기 -->
<!-- 	<select id="getList" resultType="TestModel">
		SELECT 
		a.user_no
		, a.email
		, a.name
		, a.tel
		, b.img_name
		FROM user a LEFT JOIN user_img b
		ON a.name = b.name
		order by a.user_no desc
	</select> -->
	
	<!-- imageList 가져오기 -->
	<select id="getImg" resultType="imgModel">
		SELECT *
		FROM user_img
		WHERE 1=1
		AND name = #{name}
	</select>
	
	<!-- 리스트 추가 -->
	<insert id="insert" parameterType="TestModel">
		INSERT INTO user
		(
		email
		, name
		, tel
		)
		VALUES
		(
		#{email}
		, #{name}
		, #{tel}
		)
	</insert>
	
	<!-- 리스트 이름 클릭시 디테일 -->
	<select id="detail" resultType="TestModel">
		SELECT 
		*
		FROM user
		WHERE 1=1
		AND user_no = #{userNo}
	</select>
	
	<!-- ajax 그냥 테스트 해본거 -->
	<select id="ajaxTest" resultType="String">
		SELECT
		name
		FROM user
		WHERE 1=1
		AND email = #{email}
	</select>
	
	<!-- user 정보 수정 --> 
	<update id="update" parameterType="TestModel">
		UPDATE user
		SET email = #{email}
		, tel = #{tel}
		WHERE user_no = #{userNo}
	</update>
</mapper>