<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome NEXT</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	function ajaxTest() {
		
		var email = $("#email").val();
		
		$.ajax({
			url : "ajaxTest",
			dataType : "text",
			type : "GET",
			data : {
				email : email
			},
			success : function(data) {
				alert(data);
			},
			error : function(request, status, error) {
				alert("오류발생");
			}
		});
	}
	
	$(function(){

	})
	
	function update(fm){
		fm.action = "update";
		fm.submit();
	}
	
	function updateAjax(){
		
		var userNo = $("#userNo").val();
		var tel = $("#tel").val();
		var email = $("#email").val();
		
		$.ajax({
			url : "updateAjax",
			type : "post",
			dataType : "text",
			data : {
				userNo : userNo,
				tel : tel,
				email : email
			},
			success : function(data){
				if(data == "OK"){
					alert("수정 완료");
				}else{
					alert("수정 실패");
				}
			},
			error : function(request, status, error){
				alert("수정 실패");
			}
		});
	}
		
		
	
	
	
</script>
<style>
 .btn {
	width: 200px;
	height: 30px;
	background-color: orange;
	font-size: 17px;
}

table {
	width: 500px;
	border: 1px solid #444444;
}

td {
	width: 300px;
	border: 1px solid #444444;
}

.name {
	width: 200px;
}
</style>
</head>
<body>
	<form id="fm" name="fm" method="post">
	<input type="hidden" name="userNo" id="userNo" th:value="${tm.userNo}">
	<input type="hidden" name="name" id="name" th:value="${tm.name}">
		<h2 th:text="${tm.name}+ ' 상세보기'"></h2>
		<table>
			<tr>
				<!-- <td th:text="${tm.name}+'의 메일주소는 '+${tm.email}"> -->
				<td>[[${tm.name}]]님의 메일주소는
					 <input type="text" name="email" id="email" class="input" th:value="${tm.email}">
				</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<!-- <td th:text="${tm.name}+'의 전화번호는 '+${tm.tel}"> -->
				<td>[[${tm.name}]]님의 전화번호는 
					<input type="text" name="tel" id="tel" class="input" th:value="${tm.tel}"> 
				</td>
			</tr>
		</table>
		<input type="button" value="▶리스트로~" class="btn" onclick="location.href='getList'">
		<input type="button" value="메일로 이름 ajaxTest" class="btn" onclick="ajaxTest()">
		<input type="button" value="수정하기(submit)" class="btn" onclick="update(this.form)">
		<input type="button" value="수정하기(ajax)" class="btn" onclick="updateAjax()">
	</form>
</body>
</html>