<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

<style>
  table {
    width: 1000px;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
    padding:5px 0 5px 0;
    width: 300px;
  }
  .btn{
	width: 150px;
	height: 40px;
	background-color: purple;
	font-size: 18px;
} 
</style>
</head>
<body>
<form id="fm" name="fm">
<h1>이미지 리스트당~</h1> 
<input type="button" value="유저리스트로~" class="btn" onclick="location.href='getUserList'">
	<table>
		<tr>
			<td>imgNo</td>
			<td>img_name</td>
			<td>userInfo</td>
		</tr>
		<tr th:each="imgList : ${imgList}">
			<td>[[${imgList.imgNo}]] </td>
			<td>[[${imgList.imgName}]] </td>
			<td>
				<div th:each="userInfo : ${imgList.userInfo}">
					userNo : [[${userInfo.userNo}]] <br>
					name : [[${userInfo.name}]] <br>
					email : [[${userInfo.email}]]<br>
					phone : [[${userInfo.phone}]]
				</div>
			</td>
		</tr>
	</table>
</form>

</body>
</html>