<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	var imgIdx = 0;
	$(document).ready(function() {
		addImgBtn();
	});
	
	//휴대폰번호 입력시 하이픈 자동입력
	$(document).on("keyup", "#phone", 
			function() { 
				$(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); });



	function insert(fm) {
/* 		var email = $("#email").val();
		var name = $("#name").val();
		var phone = $("#phone").val();
		var imgList = [];
		imgListLength = $("input[name='imgName']").length;
		for (var i = 0; i < imgListLength; i++) {
			imgList[i] = $("input[name='imgName']").eq(i).val();
		} */

		$.fn.serializeObject = function() {
			  "use strict"
			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
		var obj = $("#fm").serializeObject();

		var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
		var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;

		if (obj.email == "") {
			alert("이메일을 입력해주세요.");
			$("#email").focus();
			return;
		}
		if (obj.name == "") {
			alert("이름을 입력해주세요.");
			$("#name").focus();
			return;
		}
		if (obj.phone == "") {
			alert("휴대폰번호를 입력해주세요.");
			$("#phone").focus();
			return;
		}

		if (!regEmail.test(obj.email)) {
			alert("이메일 형식을 확인해주세요.");
			$("#email").focus();
			return;
		}
		if (!regPhone.test(obj.phone)) {
			alert("휴대폰번호 형식을 확인해주세요.");
			$("#phone").focus();
			return;
		}

		$.ajax({
			url : "insertUser",
			dataType : "text",
			type : "post",
			data : obj,
			success : function(result) {
				if (result == "OK") {
					alert("추가 완료");
					window.location.href = "/getUserList";
				} else {
					alert("추가 실패");
				}
			},
			error : function(request, status, error) {
				alert("추가 실패");
			}
		});
	}

	// 파일추가 클릭 (첨부파일 5개 한정)
	function addImgBtn() {
		imgIdx++;
		var html = '';
		var liCount = $(".add").length;

		// 동적 생성 숫자 한정
		if (liCount < 5) {
			html += '<li class="add" id="add'+imgIdx+'">'
					+ '<div class="attach_img">'
					+ '<div class="inputImg">'
					+ '<input type="text" name="imgName" id="imgName'+imgIdx+'" data-idx="'+imgIdx+'">'
					+ '<input type="button" id="delImg' + imgIdx
					+ '" value="X" onclick="delImgBtn(' + imgIdx + ')">'
					+ '</div>' + '</div>' + '</li>';
			$("#imgArea").append(html);
		} else {
			alert("최대 5개까지 가능합니다.");
			return false;
		}
	}

	function delImgBtn(idx) {
		if ($(".add").length > 1) {
			$("#add" + idx).remove();
		} else {
			$("#imgName" + idx).val("");
		}
	}
</script>
<style>
ul{
   list-style:none;
   margin : -20px 0 30px -40px;
   }
.btn{
	width: 150px;
	height: 70px;
	background-color: skyblue;
	font-size: 20px;
}
</style>
</head>
<body>
	<form id="fm" method="post">
		<h1>추가</h1>
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" id="email"></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" id="name"></td>
			</tr>
			<tr>
				<td>phone</td>
				<td><input type="text" name="phone" id="phone" placeholder="숫자만 입력"></td>
			</tr>
			<tr>
			</tr>
		</table>
		<div>
			<h5>이미지</h5>
				<ul id="imgArea">
					<input type="button" id="addImg" onclick="addImgBtn()" value="+이미지 슬롯 추가">
				</ul>
		</div>
		<input type="button" value="▶추가하기◀" class="btn" onclick="insert(this.form)">
		<input type="button" value="리스트로~" class="btn" onclick="location.href='getUserList'">
	</form>
</body>
</html>