<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome NEXT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function insert(fm){
		
		fm.submit();
	}
	
</script>
<style>
	.submit{
	width: 700px;
	height: 250px;
	background-color: skyblue;
	font-size: 100px;
	}
</style>
</head>
<body>
	<form id="fm" method="post" action="insert">
		<h1>추가</h1>
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" id="email"></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" id="name"></td>
			</tr>
			<tr>
				<td>tel</td>
				<td><input type="text" name="tel" id="tel"></td>
			</tr>
		</table>
		<input type="button" value="▶추가하기◀" class="submit" onclick="insert(this.form)">
	</form>
</body>
</html>