<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function insert(fm){
		fm.action = "insert";
		fm.submit();
	}
	
</script>
<style>
	.btn{
	width: 150px;
	height: 70px;
	background-color: skyblue;
	font-size: 20px;
	}
</style>
</head>
<body>
	<form id="fm" method="post">
		<h1>추가</h1>
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" id="email"></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" id="name"></td>
			</tr>
			<tr>
				<td>tel</td>
				<td><input type="text" name="tel" id="tel"></td>
			</tr>
		</table>
		<input type="button" value="▶추가하기◀" class="btn" onclick="insert(this.form)">
		<input type="button" value="리스트로~" class="btn" onclick="location.href='getList'">
	</form>
</body>
</html>