<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome NEXT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
</script>

<style>
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
  }
/*   .insertBtn{
	width: 500px;
	height: 250px;
	background-color: yellow;
	font-size: 100px;
} */
</style>
</head>
<body>
<form id="fm" name="fm" method="post" >
<h1>리스트당~</h1>
	<table>
		<tr>
			<td>No</td>
			<td>name</td>
			<td>email</td>
			<td>tel</td>
			<td>imgName</td>
		</tr>
		<tr th:each="list : ${list}">
			<td>[[${list.userNo}]] </td>
			<td>
			<a th:href="@{detail(userNo=${list.userNo})}"> [[${list.name}]]</a>
			</td>	
			<td>[[${list.email}]]</td>
			<td>[[${list.tel}]]</td>
			<td>
				<div th:each="imgList : ${list.imgList}">
					imgName : [[${imgList.imgName}]]
				</div>
			</td>
		</tr>
	</table>
	
	<input type="button" value="★추가★" class="insertBtn" onclick="location.href='insertForm'">
</form>

</body>
</html>