<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome NEXT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

<style>
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
  }
</style>
</head>
<body>
<form id="fm" method=get>
<h1>리스트당~</h1>
	<table>
		<tr>
			<td>No</td>
			<td>email</td>
			<td>name</td>
			<td>tel</td>
			<td>imgName</td>
		</tr>
		<tr th:each="list : ${list}">
			<td th:text="${list.userNo}">
			<td th:text="${list.email}">
			<td th:text="${list.name}">
			<td th:text="${list.tel}">
			<td th:text="${list.imgName}">
		</tr>
	</table>
	
	<input type="button" value="추가" onclick="location.href='insertForm'">
</form>

</body>
</html>