<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

	function deleteUser(fm){
		fm.action = "deleteUser";
		fm.submit();
	}
</script>

<style>
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
    padding:5px 0 5px 0
  }
  .btn{
	width: 100px;
	height: 40px;
	background-color: yellow;
	font-size: 18px;
} 
</style>
</head>
<body>
<form id="fm" name="fm" method="post" >
<h1>리스트당~</h1>
	<table>
		<tr>
			<td>del</td>
			<td>No</td>
			<td>name</td>
			<td>email</td>
			<td>tel</td>
			<td>imgList</td>
		</tr>
		<tr th:each="list : ${list}">
			<td><input type="checkbox" name="del" th:value="${list.userNo}"></td>
			<td>[[${list.userNo}]] </td>
			<td>
			<a th:href="@{detail(userNo=${list.userNo})}"> [[${list.name}]]</a>
			</td>	
			<td>[[${list.email}]]</td>
			<td>[[${list.tel}]]</td>
			<td>
				<div th:each="imgList, i : ${list.imgList}">
					[[${i.index +1}]]) 
					imgNo : [[${imgList.imgNo}]] ,
					imgName : [[${imgList.imgName}]]
				</div>
			</td>
		</tr>
	</table>
	
	<input type="button" value="★추가★" class="btn" onclick="location.href='insertForm'">
	<input type="button" value="선택삭제!" class="btn" onclick="deleteUser(this.form)">
	<input type="button" value="이미지리스트" class="btn" onclick="location.href='getImgList'">
</form>

</body>
</html>