<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	
	function updateUserSubmit(fm){
		fm.action = "updateUserSubmit";
		fm.submit();
	}
	
	function updateUserAjax(){
		
		var userNo = $("#userNo").val();
		var phone = $("#phone").val();
		var email = $("#email").val();
		
		$.ajax({
			url : "updateUserAjax",
			type : "post",
			dataType : "text",
			data : {
				userNo : userNo,
				phone : phone,
				email : email
			},
			success : function(data){
				if(data == "OK"){
					alert("수정 완료");
				}else{
					alert("수정 실패");
				}
			},
			error : function(request, status, error){
				alert("수정 실패");
			}
		});
	}
		
		
	
	
	
</script>
<style>
 .btn {
	width: 200px;
	height: 30px;
	background-color: orange;
	font-size: 17px;
}

table {
	width: 500px;
	border: 1px solid #444444;
}

td {
	width: 300px;
	border: 1px solid #444444;
}

.name {
	width: 200px;
}
</style>
</head>
<body>
	<form id="fm" name="fm" method="post">
	<input type="hidden" name="userNo" id="userNo" th:value="${um.userNo}">
	<input type="hidden" name="name" id="name" th:value="${um.name}">
	<input type="hidden" name="updateYn" id="updateYn" th:value="${updateYn}">
		<h2 th:text="${um.name}+ ' 상세보기'"></h2>
		<table>
			<tr>
				<!-- <td th:text="${um.name}+'의 메일주소는 '+${um.email}"> -->
				<td>email
					 <input type="text" name="email" id="email" class="input" th:value="${um.email}">
				</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<!-- <td th:text="${um.name}+'의 전화번호는 '+${um.phone}"> -->
				<td>phone
					<input type="text" name="phone" id="phone" class="input" th:value="${um.phone}"> 
				</td>
			</tr>
		</table>
		<input type="button" value="▶리스트로~" class="btn" onclick="location.href='getUserList'">
		<input type="button" value="수정하기(submit)" class="btn" onclick="updateUserSubmit(this.form)">
		<input type="button" value="수정하기(ajax)" class="btn" onclick="updateUserAjax()">
	</form>
</body>
</html>