<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<script type="text/javascript">


	//schema.sql 수정 후 사용해야함
/* 	function deleteUserAndUserImgRef(fm){
		if(!delCheck()) return;
		fm.action = "deleteUserAndUserImgRef";
		fm.submit();
	} */

	function deleteUserAndUserImg(){
		if(!delCheck()) return;

		$.ajax({
			url : "deleteUserAndUserImg",
			type : "post",
			dataType : "text",
			data :  $("#fm").serialize(),
			success : function(result){
				alert("삭제 성공");
				window.location.href = "/getUserList";
			},
			error : function(request, status, error){
				alert("삭제 실패");
			}

		})

		fm.action = "deleteUserAndUserImg"
		fm.submit();
	}

	//del 체크여부
	function delCheck(){
		var del = $("input:checkbox[name=del]:checked").length
		if(del <= 0){
			alert("삭제할 유저를 선택해 주세요!");
			return false;
		}
		return true;
	}
</script>

<style>
  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
    padding:5px 0 5px 0;
  }
  .btn{
	width: 150px;
	height: 40px;
	background-color: yellow;
	font-size: 18px;
}
</style>
</head>
<body>
<form id="fm" name="fm" method="post" >
<h1>리스트당~</h1>
	<table>
		<tr>
			<td>del</td>
			<td>No</td>
			<td>name</td>
			<td>email</td>
			<td>phone</td>
			<td>imgList</td>
		</tr>
		<tr th:each="list : ${userList}">
			<td><input type="checkbox" name="del" th:value="${list.userNo}"></td>
			<td>[[${list.userNo}]] </td>
			<td>
			<a th:href="@{userDetail(userNo=${list.userNo})}"> [[${list.name}]]</a>
			</td>
			<td>[[${list.email}]]</td>
			<td>[[${list.phone}]]</td>
			<td>
				<div th:each="imgList, i : ${list.imgList}">
					[[${i.index +1}]])
					imgNo : [[${imgList.imgNo}]] ,
					imgName : [[${imgList.imgName}]]
				</div>
			</td>
		</tr>
	</table>

	<input type="button" value="★추가★" class="btn" onclick="location.href='insertForm'">
	<!-- <input type="button" value="유저 테이블 참조해서 삭제" class="btn" onclick="deleteUserAndUserImgRef(this.form)" style="width:250px"> -->
	<input type="button" value="유저 삭제 후 이미지 삭제" class="btn" onclick="deleteUserAndUserImg()" style="width:250px">
	<input type="button" value="이미지리스트" class="btn" onclick="location.href='getImgList'">
</form>

</body>
</html>