<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지영짱</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script>

	
	//휴대폰번호 입력시 하이픈 자동입력
	$(document).on("keyup", "#phone", 
		function() { 
			$(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); });

	
	function updateUserAjax(){
		
		$.fn.serializeObject = function() {
			  "use strict"
			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
		var obj = $("#fm").serializeObject();

		var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
		var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;

		if (obj.email == "") {
			alert("이메일을 입력해주세요.");
			$("#email").focus();
			return;
		}
		if (obj.name == "") {
			alert("이름을 입력해주세요.");
			$("#name").focus();
			return;
		}
		if (obj.phone == "") {
			alert("휴대폰번호를 입력해주세요.");
			$("#phone").focus();
			return;
		}

		if (!regEmail.test(obj.email)) {
			alert("이메일 형식을 확인해주세요.");
			$("#email").focus();
			return;
		}
		if (!regPhone.test(obj.phone)) {
			alert("휴대폰번호 형식을 확인해주세요.");
			$("#phone").focus();
			return;
		}
		
		$.ajax({
			url : "updateUserAjax",
			type : "post",
			dataType : "text",
			data : obj,
			success : function(data){
				if(data == "OK"){
					alert("수정 완료");
					window.location.href = "/getUserList";
				}else{
					alert("수정 실패");
				}
			},
			error : function(request, status, error){
				alert("수정 실패");
			}
		});
	}
	
	// 이미지추가 클릭 (이미지슬롯 5개 한정)
	function addImgBtn(){
		var liCount = $(".add").length;

		if(liCount < 5){
			$(imgListTmpl).tmpl().appendTo("#imgArea");
		}else{
			alert("최대 5개까지 가능합니다.");
			return;
		}
	}
	
	function delImgBtn(obj){
		 if($(".add").length > 1) {
			$(obj).parents("li").remove();
		} else {
			$("#imgName").val("");
		} 
	}
		
</script>
<script id="imgListTmpl" type="text/x-tmpl">
<li class="add" id="add">
	<div class="attach_img">
		<div class="inputImg">
			<input type="text" name="imgName" id="imgName">
			<input type="button" id="delImg" value="X" onclick="delImgBtn(this)">
		</div>
	</div>
</li>
</script>
<style>
 .btn {
	width: 200px;
	height: 30px;
	background-color: orange;
	font-size: 17px;
}
ul{
   list-style:none;
   margin : -20px 0 30px -40px;
   }

.name {
	width: 200px;
}
</style>
</head>
<body>
	<form id="fm" name="fm" method="post">
	<input type="hidden" name="userNo" id="userNo" th:value="${user.userNo}">
	<input type="hidden" name="name" id="name" th:value="${user.name}">
		<h2 th:text="${user.name}+ ' 상세보기'"></h2>
		<table>
			<tr>
				<td>email
					 <input type="text" name="email" id="email" class="input" th:value="${user.email}">
				</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>phone
					<input type="text" name="phone" id="phone" class="input" th:value="${user.phone}"> 
				</td>
			</tr>
		</table>
		<div>
			<h5>이미지</h5>
			<ul id="imgArea">
				<input type="button" id="addImg" onclick="addImgBtn()" value="+이미지 슬롯 추가">
				<div th:if="${user.imgList != null}">
					<li class="add" id="add" th:each="imgList, i : ${user.imgList}">
				 		<div class="attach_img">
				 			<div class="inputImg">
				 				<input type="text" name="imgName" id="imgName" th:value="${imgList.imgName}">
				 				<input type="button" id="delImg" value="X" onclick="delImgBtn(this)">
				 			</div>
				 		</div>
					</li>
				</div>
			</ul>
		</div>
		<input type="button" value="▶리스트로~" class="btn" onclick="location.href='getUserList'">
		<input type="button" value="수정하기(ajax)" class="btn" onclick="updateUserAjax()">
	</form>
</body>
</html>